@model IEnumerable<kuruinsaat.Models.Resim>
@{
    ViewBag.Title = "Home Page";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center overlay" style="background-image: url('../../Assets/Images/banner/banner1.png'); ">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>
                                Kuru
                                İnşaat
                            </h3>
                            <p>Profesyonel Dokunuşla Ve Güvenle Evinizi İnşa Edelim</p>
                            @*<a href="services.html" class="boxed-btn3">Our Services</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center overlay" style="background-image: url('../../Assets/Images/banner/banner3.jpg'); ">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>
                                Kuru
                                İnşaat
                            </h3>
                            <p>Profesyonel Dokunuşla Ve Güvenle Evinizi İnşa Edelim</p>
                            @* <a href="services.html" class="boxed-btn3">Our Services</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center overlay" style="background-image: url('../../Assets/Images/banner/banner2.png'); ">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>
                                Kuru
                                İnşaat
                            </h3>
                            <p>Profesyonel Dokunuşla Ve Güvenle Evinizi İnşa Edelim</p>
                            @*<a href="services.html" class="boxed-btn3">Our Services</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- features_area_start -->
<div class="features_area">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-4">
                <div class="single_feature text-center">
                    <div class="icon">
                        <i class="flaticon-sketch"></i>
                    </div>
                    <h3>Kreatif Plan & Tasarım</h3>
                    <p>
                        Yaratıcı bir planlamayla yapılan özel tasarımlarla kuru inşaat olarak sizlere hizmet vermekteyiz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_feature text-center">
                    <div class="icon">
                        <i class="flaticon-helmet"></i>
                    </div>
                    <h3>Yetenekli İnsanlar</h3>
                    <p>
                        İnşaat sektöründe ve alanlarında en profesyonel insanlarla çalışıp sizlere iyi bir hizmet sunuyoruz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_feature text-center">
                    <div class="icon">
                        <i class="flaticon-support"></i>
                    </div>
                    <h3>Modern Araçlar</h3>
                    <p>
                        Modern araçlarla daha tekknolojik ve güncel gereçler ile inşaatlarımızı gerçekleştiriyoruz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_area_end -->
<!-- about_area_start  -->
<div class="about_area">
    <div class="container">
        <div class="border_1px">
            <div class="row align-items-center">
                <div class="col-xl-6  col-md-6">
                    <div class="about_thumb">
                        <img src="/assets/images/hakkimizda.jpg" alt="">
                        <div class="pattern_img d-none d-lg-block">
                            <img src="img/pattern/pattern.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6">
                    <div class="about_info">
                        <h3>
                            Kuru İnşaat İnşaat Hizmetleri
                        </h3>
                        <p class="first_para">
                            “Kuru İnşaat, baştan sona bina çözümleri sunan tam hizmet veren bir inşaat şirketidir.“
                        </p>
                        <p>
                            Semtinizin en güzel dairelerini, iş ve yaşam alanlarınızı eğlence alanlarınızı özenle inşaa ediyiyoruz.
                            Kuru inşaat dünden bugüne inşaa ettiği yapılarla ve verdiği hizmetler ile ön plana çıkmaktadır.
                        </p>
                        @*<a href="iletisim" class="boxed-btn3">Bizim ile iletişime geçin</a>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- about_area_end  -->
<!-- gallery_area-START -->
<div class="gallery_area">
    <div class="container">
        <div class="gallery_nav">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <h3 class="gallery_title">
                        Projelerimiz <br>
                    </h3>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="portfolio-menu">
                        <button class="active" data-filter="*">Hepsi</button>
                        <button data-filter=".cat1">Devam Eden</button>
                        <button data-filter=".cat2">Tamamlanan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        @foreach (var item in Model)
        {
            @*<text>element id =</text> @(item.ResimYolu)*@
        }
    </div>
    <div class="container-fluid p-0">
        <div class="row grid no-gutters">

            @{
                foreach (var item in ViewBag.DevamEdenProjeler)
                {

                    <div class="col-xl-3 col-lg-3 col-md-6 grid-item cat1">
                        <div class="single_gallery">
                            <div class="thumb">
                                @if (Model.Where(x => x.ElementTypeNo == 1 && x.ElementTypeId == item.Id).Count() > 0)
                                {
                                    <img src="~/Assets/Images/Uploads/@(Model.Where(x => x.ElementTypeNo == 1 && x.ElementTypeId == item.Id).First().ResimYolu)" alt="">

                                }
                                else
                                {
                                    <img src="~/Assets/Images/Uploads/xxx.jpg" width="500" height="500" alt="">
                                }
                            </div>
                            <div class="gallery_hover">
                                <div class="hover_inner d-flex align-items-center justify-content-between">
                                    <h3>@item.Adi</h3>
                                    <div class="icon">
                                        <a href="/Projeler/Proje/@item.Id">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            @{List<kuruinsaat.Models.Dosya> dosyalar = ViewBag.Dosyalar;
                                var pdfler = dosyalar.Where(x => x.Type == 2 && x.ElementTypeNo == 1 && x.ElementTypeId == item.Id).ToList();
                                var panoramic = dosyalar.Where(x => x.Type == 1 && x.ElementTypeNo == 1 && x.ElementTypeId == item.Id).ToList();}
                            @{ foreach (var pdf in pdfler)
                                {
                                    <div class="pdfandpanoramic d-flex m-0 p-0">
                                        <div class="row d-flex justify-content-center text-center p-0 m-0">
                                            <a href="~/Assets/Uploads/@pdf.DosyaYolu">
                                                <div class="col-12 p-0 m-0"><img src="~/Assets/Images/helper/pdficon.png" width="35" height="35" /></div>
                                                <div class="col-12 p-0 m-0">Pdf</div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }

                            @{
                                foreach (var panora in panoramic)
                                {
                                    <div class="pdfandpanoramic d-flex mr-5 p-0">
                                        <div class="row d-flex justify-content-center text-center p-0 m-0">
                                            <a href="/Projeler/Panorama/@panora.Id">
                                                <div class="col-12 p-0 m-0"><img src="~/Assets/Images/helper/360-degree.png" width="35" height="35" /></div>
                                                <div class="col-12 p-0 m-0">360°</div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                }

                foreach (var item in ViewBag.TamamlananProjeler)
                {
                    <div class="col-xl-3 col-lg-3 col-md-6 grid-item cat2">
                        <div class="single_gallery">
                            <div class="thumb">
                                @if (Model.Where(x => x.ElementTypeNo == 1 && x.ElementTypeId == item.Id).Count() > 0)
                                {
                                    <img src="~/Assets/Images/Uploads/@(Model.Where(x=>x.ElementTypeNo==1 && x.ElementTypeId==item.Id).First().ResimYolu)" alt="">

                                }
                                else
                                {
                                    <img src="~/Assets/Images/Uploads/xxx.jpg" width="500" height="500" alt="">
                                }
                            </div>
                            <div class="gallery_hover">
                                <div class="hover_inner d-flex align-items-center justify-content-between">
                                    <h3>@item.Adi</h3>
                                    <div class="icon">
                                        <a href="/Projeler/Proje/@item.Id">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            @{List<kuruinsaat.Models.Dosya> dosyalar = ViewBag.Dosyalar;
                                var pdfler = dosyalar.Where(x => x.Type == 2 && x.ElementTypeNo == 1 && x.ElementTypeId == item.Id).ToList();
                                var panoramic = dosyalar.Where(x => x.Type == 1 && x.ElementTypeNo == 1 && x.ElementTypeId == item.Id).ToList();}
                            @{ foreach (var pdf in pdfler)
                                {
                                    <div class="pdfandpanoramic d-flex m-0 p-0">
                                        <div class="row d-flex justify-content-center text-center p-0 m-0">
                                            <a href="~/Assets/Uploads/@pdf.DosyaYolu">
                                                <div class="col-12 p-0 m-0"><img src="~/Assets/Images/helper/pdficon.png" width="35" height="35" /></div>
                                                <div class="col-12 p-0 m-0">Pdf</div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }

                            @{
                                foreach (var panora in panoramic)
                                {
                                    <div class="pdfandpanoramic d-flex mr-5 p-0">
                                        <div class="row d-flex justify-content-center text-center p-0 m-0">
                                            <a href="/Projeler/Panorama/@panora.Id">
                                                <div class="col-12 p-0 m-0"><img src="~/Assets/Images/helper/360-degree.png" width="35" height="35" /></div>
                                                <div class="col-12 p-0 m-0">360°</div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }

            }


        </div>
    </div>
</div>
<!-- gallery_area-END -->
<!-- more_pro_btn_start  -->
<a href="/Projeler" class="more_pro_btn">Devamı...</a>
<!-- more_pro_btn_end  -->
<!-- chose_us_area start -->
<div class="chose_us_area chose_bg_1" style="margin-top:5px !important">
    <div class="container">
        <div class="row justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="chose_info">
                        <div class="icon_video" style="margin-top:-25px !important">
                            <a class="popup-video" href="~/Assets/Videos/selen%20evler%20video%20(1).mp4">
                                <video controls="controls" class="popup-video" width="375" height="350" style="display:none">
                                    <source src="~/Assets/Videos/selen%20evler%20video%20(1).mp4" type="video/mp4" />
                                </video>
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- chose_us_area end -->
@*<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-55">
                    <h3>Testimonials</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="img/testimonial/1.png" alt="">
                                </div>
                                <h4>Jordan Adams</h4>
                                <span>Client</span>
                            </div>
                            <p>
                                “Our program is guided by the developmental milestones which embrace <br>
                                the six most important learning domains in education”
                            </p>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="img/testimonial/1.png" alt="">
                                </div>
                                <h4>Jordan Adams</h4>
                                <span>Client</span>
                            </div>
                            <p>
                                “Our program is guided by the developmental milestones which embrace <br>
                                the six most important learning domains in education”
                            </p>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="img/testimonial/1.png" alt="">
                                </div>
                                <h4>Jordan Adams</h4>
                                <span>Client</span>
                            </div>
                            <p>
                                “Our program is guided by the developmental milestones which embrace <br>
                                the six most important learning domains in education”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- contact_us_start  -->
<div class="contact_us overlay">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-7">
                <div class="contact_text">
                    <h3>
                        İnşaat mı arıyorsunuz?
                        ve İnşaat Uzmanları?
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="contact_btn">
                    <a class="boxed-btn3" href="/iletisim">Bizim ile iletişime geçin</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact_us_end -->


@section scripts {
    <script type="text/javascript">


    </script>
}