<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a href="/Yonetim">Göstergeler</a></li>
            <li><a href="/Yonetim/ProjeEkle">Proje Ekle</a></li>
            <li><a href="/Yonetim/ProjeList">Proje Listesi</a></li>
        </ul>
        <div class="copyright">
            <p><strong>ESCHelping</strong> © 2023 All Rights Reserved</p>
        </div>
    </div>
</div>
