@{
    ViewBag.Title = "Hakkimizda";
}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Hakkımızda</h3>
                    <p><a href="/">Anasayfa</a> / Hakkımızda</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- about_area_start  -->
<div class="about_area add_padding">
    <div class="container">
        <div class="border_1px">
            <div class="row align-items-center">
                <div class="col-xl-6  col-md-6">
                    <div class="about_thumb">
                        <img src="~/assets/images/hakkimizda.jpg" alt="">
                        <div class="pattern_img d-none d-lg-block">
                            <img src="img/pattern/pattern.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="about_info">
                        <h3>
                           Kuru İnşaat İnşaat Hizmetleri
                        </h3>
                        <p class="first_para">
                            “Kuru İnşaat, baştan sona bina çözümleri sunan tam hizmet veren bir inşaat şirketidir.“
                        </p>
                        <p>
                            Semtinizin en güzel dairelerini, iş ve yaşam alanlarınızı eğlence alanlarınızı özenle inşaa ediyiyoruz. 
                            Kuru inşaat dünden bugüne inşaa ettiği yapılarla ve verdiği hizmetler ile ön plana çıkmaktadır. 
                        </p>
                        <a href="iletisim" class="boxed-btn3">Bizim ile iletişime geçin</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- about_area_end  -->
